
@{
    ViewBag.Title = "Index";
}

<h2>contact</h2>


<form>

    <label for="txtNaam">Naam:</label>
    <label for="txtVoornaam">Voornaam:</label>
    <label for="txtAdres">Adres:</label>
    <label for="txtGemeente">Gemeente:</label>
    <select name="lstVraag">
        <option value="1">Vraag</option>
        <option value="2">Opmerking</option>
    </select>
    <textarea name="txtVraag" cols="40" rows="5"></textarea>
    <button name="btnToevoegen" value="toevoegen"/>






</form>

