
@{
    ViewBag.Title = "Welkom";
}

    <nav style="padding-left:50%">
        
        <a href="@Url.Action("Login","Login")">   <input type="button" value="@ViewBag.log" name="Login" /></a>
      
        <a href="@Url.Action("Register","Login")"><input type="button" value="Registreer" name="Registreer"/></a>   
</nav>


<h2>Welkom op de pagina van de karige karters</h2>






<form>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus diam ut turpis suscipit, et maximus arcu commodo. Donec metus turpis, sollicitudin nec elementum nec, volutpat id lacus. Vivamus rutrum leo nibh, ac faucibus nisi feugiat ut. Nulla quis quam at tellus sagittis pharetra. Aliquam a ultricies orci, a finibus metus. In sit amet ipsum sit amet diam aliquam ornare eget ut justo. Vestibulum pharetra tincidunt elit vitae egestas. Pellentesque lorem leo, mollis non mollis eget, rhoncus vel eros. Fusce mattis posuere arcu non feugiat.

        Integer porta lobortis libero eget pulvinar. Suspendisse finibus purus in risus imperdiet varius. Quisque id nunc semper, finibus libero at, accumsan libero. Nam sagittis at nulla cursus dictum. Pellentesque lacinia, eros sit amet mattis tempus, tellus mi pharetra dui, at faucibus augue massa a neque. Aliquam pellentesque faucibus velit eu pharetra. Pellentesque molestie sed lacus et pellentesque. Morbi porta tempus aliquet. Phasellus non fringilla elit. Etiam ac nibh at lectus maximus ornare ac sed urna.
    </p>


</form>


